/* Layout */

$header: 80px;
$navbar: 55px;
$panel: 38%;
$wrapper: 960px;
$overlay: 480px;
$thumbnail: 150px;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');
$headline: 'Lato', 'Gotham', Helvetica, Arial, PingFangSC-Regular, 'Microsoft YaHei','WenQuanYi Micro Hei', sans-serif;
$body: $headline;

/* Partials */

$partials: (
  base,
  button
);
