/*** VARIABLES ***/

/* Layout */

$wrapper: 960px;

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato');
$headline: 'Lato', 'Gotham', Helvetica, Arial, PingFangSC-Regular, 'Microsoft YaHei','WenQuanYi Micro Hei', sans-serif;
$body: $headline;
$base: #253858;
$radius: 3px;
$grey: rgba($base, 0.6);
$line: rgba($base, 0.1);
$silver: rgba($base, 0.02);
$blue: #0052CC;

/* Sizes */

// $pico: 10 !default;
// $micro: 11 !default;
// $small: 12 !default;
// $smaller: 14 !default;
// $regular: 16 !default;
// $larger: 18 !default;
// $large: 24 !default;
// $huge: 32 !default;
$gigantic: 36;
// $humongous: 64 !default;

/* Partials */

$partials: (
  base,
  button
);

/*** EGG SHIT ***/

@import 'vendors/egg-sass/egg';

/*** FONTS ***/

@import url('https://fonts.googleapis.com/css?family=Lato');

/*** CUSTOM ***/

body {
  background: #F4F5F7;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $base
}

.controls {
  float: right;
}

.wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: $wrapper;
  width: 95%;
}

.button,
.button.primary {
  padding: 1.5*$space/4 $space/2;
  svg {
    float: left;
    fill: $base;
    margin-right: 1.5*$space/4;
    width: $space;
  }
}

.button.primary {
  svg {
    fill: #FFF;
  }
}

/* Header */

#header {
  background: $blue;
  color: #FFF;
  text-align: right;
  .logo {
    float: left;
    font-weight: bold;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .logo,
  a {
    display: inline-block;
    padding: $space 0;
  }
  .menu {
    a {
      margin-left: $space;
      &:hover {
        border-top: 3px solid #FFF;
        padding-top: $space - 3;
      }
    }
  }
}

/* Content */

#content {
  background: #FFF;
  padding: 3*$space 0;
  .count {
    margin-bottom: $space/2;
  }
  .listing {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background: #FFF;
      border: 1px solid $line;
      border-radius: $radius;
      margin-bottom: $space/2;
      padding: $space/2 1.5*$space/2;
      &:hover {
        background: $silver;
      }
      &:last-child {
        margin-bottom: 0;
      }
      img {
        border-radius: 50%;
        float: left;
        height: 2*$space;
        margin-right: $space/2;
      }
      h3 {
        margin: 0;
      }
      .details {
        color: $grey;
        @include font-size($smaller);
      }
    }
  }
}

/* Footer */

#footer {
  color: $grey;
  @include font-size($smaller);
  padding: $space 0;
  text-align: right;
  a {
    color: inherit;
  }
  .copyright {
    float: left;
  }
}
